* {
    padding: 0;
    margin: 0;
    color: #333;
    box-sizing: border-box;

}

.title {
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: #f5f7fa;
}

body {
    padding-top: 60px;
}

header {
    background-color: #7431fa;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
}




header a {
    padding: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none; 
}

header a:hover {
    color: #fff;
}

header a.active {
    font-weight: bold;
    color: #fff;
}





table {
    width: 100%;
    display: block;
    margin: 10px auto;
}

table thead,
table tbody {
    display: block;
    width: 100%;
    background-color: #fff;

}

table tr {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
}

table td,
table th {
    flex: 2;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

table th {
    font-weight: bold;
}

table tbody tr:hover {
    cursor: pointer;
    background-color: #712cf922;
}
th:first-child,td:first-child{
    flex: 1;
}
.Caption{
    flex: 4;
}


button {
    min-width: 80px;
    color: #fff;
    background-color: #712cf9;
    height: 30px;
    border-radius: 2px;
    padding: 0 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #8e56fd;
}






input,
select {
    width: 100%;
    width: 200px;
    height: 32px;
    outline: none;
    border-radius: 4px;
    padding: 0 10px;
    border: 1px solid #dcdfe6;
    outline: none;
}


input:focus,
select:focus {
    border-color: #a57afc
}
.input-item{
    display: flex;
    align-items: center;
}



#form {
    height: auto;
    background-color: #fff;
    border-radius: 10px;
}
#form .input-item .input{
    flex: 1;
}
#form .input-item {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#form label {
    display: block;
    width: 70px;
    padding: 0;
    margin-right: 10px;
}

#form input {
    display: block;
    width: 100%;
}



#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}
#overlay.open{
    display: flex;
    opacity: 1;
    transition: all 0.3s;
}

#fundraiserForm{
    width: 40%;
    min-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
#fundraiserForm .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fundraiserForm .close{
    width: 20px;
    height: 20px;
    background-color: #aaa;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius:50% ;
    cursor: pointer;
}

#fundraiserForm input[type="checkbox"]{
    accent-color: #712cf9; 
    border: 2px solid #333;
}
#fundraiserForm input[type="checkbox"]:checked {
    border-color: #712cf9;
}